*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 60px;
    background-color: #333333;
    position: fixed;
    top: 0px;
    
}

.nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    display: flex;
}

.jak{
    width: 150px;
    height: 60px;
    background-color: #9b9b9b;
    text-align: center;
    align-content: center;
    font-size: small;
    
}

.nav-item{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border:  1px solid white;
    
    display: inline-block;
    align-content: center;
    text-align: center;
}
/* ------------------section 2------------- */
.container{
    width: 100%;
    height: auto;
    overflow-y: scroll;
    
}

a{
    text-decoration: none;
    color: #000000B3;
}

li{
    list-style-type: none;
}
.left{
    width: 400px;
    height: 100vh;
    background-color: #bebebe;
    overflow-y: scroll;
    text-align: center;
    float: left;
    position: fixed;
    top: 0px;
    margin-top: 60px;
    
    
    
}

.img-left{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(images/about.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    
    
}

.right{
    width: calc(100% - 400px);
    height: auto;
    background-image: url(images/img_bg_1.jpg);
    float: right;
    bottom: -500px;
    overflow: hidden;
    
}

.img-right{
    background-image: url(images/img_bg_1.jpg);
    background-size: cover;
}

.img-text{
    width: 280px;
    height: 700px;
    margin-left: 50px;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    align-content: center;
    margin-top: 30px;
}

.btn{
    border: 1px solid black;
}

.img-text h1{
    font-size: 50px;
}
.img-text h2{
    font-size: 18px;
    margin-top: 30px;
}
.img-text, h2, h3, a{
    font-size: 18px;
    margin-top: 30px;
}

/* ----------small card ----------- */

.services{
    width: 130px;
    height: 170px;
    background-color: white;
    border: 1px solid black;

}

.small-cards{
    display: flex;
    justify-content: space-around;
}




